{#
/**
 * @file autopost.html.twig
 * Default theme implementation to present Autopost data.
 *
 * This template is used when viewing Autopost pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_autopost()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('autopost') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
